<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  {% include partials/head.html %}

  <body class="{% if role != "home" %}has_default_license{% endif %} {% if fineartprints %}has_fineartprints{% endif %} layout_base_html">

    <div class="body_wrapper">

      <header class="header">
        {% include partials/logo_block.html %}
      </header>

      {% include partials/svg/defs.html %}

      <main id="main" class="main {% if offwhite %}offwhite{% endif %}">
        {{ content | safe }}
      </main>

    </div>

    {% include partials/footer.html %}

    {% include partials/script_microdata.html %}

    {% include partials/script_ext_link.html %}

    {% include partials/script_append_to_copy.html %}

    {% include partials/script_google_analytics.html %}

  </body>

</html>
