<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  {% include partials/head.html %}

  <body {% if post.data.role != 'home' %}class="has_default_license"{% endif %}>

    <div class="main_wrapper">

      {% include partials/header.html %}

      {% include partials/svg/defs.html %}

      <main class="main {% if post.data.offwhite %}offwhite{% endif %}" role="main" id="main">

        <div class="content {% if page.data.categories %}{{ page.data.categories }}{% else %}index{% endif %} {% if page.data.offwhite %}offwhite_content{% endif %}">

          <div class="wrapper">
            {{ content | safe }}
          </div>

          {% if page.data.fineartprints %}
           {% include partials/fineartprints_block.html %}
          {% endif %}

        </div>

        {% if page.data.role != 'home' %}
          {% include partials/nav--posts-all.html %}
        {% else %}
          {% include partials/nav--posts.html %}
        {% endif %}

        {% include partials/nav--tags.html %}

      </main>

      {% if page.data.layout == 'post' %}
        {% include partials/nav--horizzo-titled.html %}
      {% endif %}

    </div>

    {% include partials/footer.html %}

    {% include partials/scripts_microdata.html %}

    {% include partials/script_ext_link.html %}

    {% include partials/script_append_to_copy.html %}

    {% include partials/script_google_analytics.html %}

  </body>

</html>
