---
layout: default
---

{% assign images_author = site.data.authors[page.images_author] %}

<div class="tagpage tagpage__title">

  <span class="tagpage__ico" title="photographer">
    {% include partials/svg/use.html id="icn--photographer" %}
  </span>

  <h1 class="page__title">{{ images_author.name | titlecase }}</h1>

  <div class="author__metas">

    {% if images_author.twitter %}
    <div class="author__meta">
      <a href="https://twitter.com/{{ images_author.twitter }}" title="twitter" target="_blank" rel="noopener">
        <div class="ico author">{% include partials/svg/use.html id="icn--twitter" class="twitter" %}</div>
        <span class="destination">{{ images_author.twitter }}</span>
      </a>
    </div>
    {% endif %}

    {% if images_author.instagram %}
    <div class="author__meta">
      <a href="https://instagram.com/{{ images_author.instagram }}" title="instagram" target="_blank" rel="noopener">
        <div class="ico author">{% include partials/svg/use.html id="icn--instagram" class="instagram" %}</div>
        <span class="destination">{{ images_author.instagram }}</span>
      </a>
    </div>
    {% endif %}

    {% if images_author.fbPage %}
    <div class="author__meta">
      <a href="https://facebook.com/{{ images_author.fbPage }}" title="facebook page" target="_blank" rel="noopener">
        <div class="ico author">{% include partials/svg/use.html id="icn--facebook" class="facebook" %}</div>
        <span class="destination">{{ images_author.fbPage }}</span>
      </a>
    </div>
    {% endif %}

    {% if images_author.fbProfile %}
    <div class="author__meta">
      <a href="https://facebook.com/{{ images_author.fbProfile }}" title="facebook profile" target="_blank" rel="noopener">
        <div class="ico author">{% include partials/svg/use.html id="icn--facebook" class="facebook" %}</div>
        <span class="destination">{{ images_author.fbProfile}}</span>
      </a>
    </div>
    {% endif %}

    {% if images_author.tumblr %}
    <div class="author__meta">
      <a href="http://{{ images_author.tumblr }}.tumblr.com/" title="tumblr" target="_blank" rel="noopener">
        <div class="ico tumblr">{% include partials/svg/use.html id="icn--tumblr" class="tumblr" %}</div>
        <span class="destination">{{ images_author.tumblr}}</span>
      </a>
    </div>
    {% endif %}

    {% if images_author.gplus %}
    <div class="author__meta">
      <a href="https://plus.google.com/{{ images_author.gplus }}" title="g+" target="_blank" rel="noopener">
        <div class="ico gplus">{% include partials/svg/use.html id="icn--gplus" class="gplus" %}</div>
        <span class="destination">{{ images_author.gplus}}</span>
      </a>
    </div>
    {% endif %}

    {% if images_author.github %}
    <div class="author__meta">
      <a href="https://github.com/{{ images_author.github }}" title="github" target="_blank" rel="noopener">
        <div class="ico github">{% include partials/svg/use.html id="icn--github" class="github" %}</div>
        <span class="destination">{{ images_author.github }}</span>
      </a>
    </div>
    {% endif %}

    {% if images_author.web %}
    <div class="author__meta">
      <a rel="author" href="http://{{ images_author.web }}" title="{{ images_author.name }}" target="_blank" rel="noopener">
        <div class="ico link">{% include partials/svg/use.html id="icn--link" class="link" %}</div>
        <span class="destination">{{ images_author.web }}</span>
      </a>
    </div>
    {% endif %}
  </div>
</div>


{% if page.images_author == 'rokma' %}
<div class="home__posts">
  {% for post in site.posts %}
    {% if post.images_author == 'rokma' %}
      {% include index_post_block--excerpt.html %}
    {% endif %}
  {% endfor %}
</div>
{% endif %}


{% if page.images_author == 'melinda' %}
<div class="home__posts">
  {% for post in site.posts %}
    {% if post.images_author == 'melinda' %}
      {% include index_post_block--excerpt.html %}
    {% endif %}
  {% endfor %}
</div>
{% endif %}
