---
layout: default
---

{% assign text_author = site.data.authors[text_author] %}

<div class="tagpage tagpage__title">

  <span class="tagpage__ico" title="text author">
    {% include partials/svg/use.html id: "icn--speech" %}
  </span>

  <h1 class="page__title">{{ page.fileSlug | capitalize }}</h1>

  <div class="author__metas">

    {% if twitter %}
    <div class="author__meta">
      <a href="https://twitter.com/{{ twitter }}" title="twitter" target="_blank" rel="noopener">
        <div class="ico author">{% include partials/svg/use.html id: "icn--twitter" class: "twitter" %}</div>
        <span class="destination">{{ twitter }}</span>
      </a>
    </div>
    {% endif %}

    {% if instagram %}
    <div class="author__meta">
      <a href="https://instagram.com/{{ instagram }}" title="instagram" target="_blank" rel="noopener">
        <div class="ico author">{% include partials/svg/use.html id: "icn--instagram" class: "instagram" %}</div>
        <span class="destination">{{ instagram }}</span>
      </a>
    </div>
    {% endif %}

    {% if fbPage %}
    <div class="author__meta">
      <a href="https://facebook.com/{{ fbPage }}" title="facebook page" target="_blank" rel="noopener">
        <div class="ico author">{% include partials/svg/use.html id: "icn--facebook" class: "facebook" %}</div>
        <span class="destination">{{ fbPage }}</span>
      </a>
    </div>
    {% endif %}

    {% if fbProfile %}
    <div class="author__meta">
      <a href="https://facebook.com/{{ fbProfile }}" title="facebook profile" target="_blank" rel="noopener">
        <div class="ico author">{% include partials/svg/use.html id: "icn--facebook" class: "facebook" %}</div>
        <span class="destination">{{ fbProfile}}</span>
      </a>
    </div>
    {% endif %}

    {% if tumblr %}
    <div class="author__meta">
      <a href="http://{{ tumblr }}.tumblr.com/" title="tumblr" target="_blank" rel="noopener">
        <div class="ico tumblr">{% include partials/svg/use.html id: "icn--tumblr" class: "tumblr" %}</div>
        <span class="destination">{{ tumblr}}</span>
      </a>
    </div>
    {% endif %}

    {% if github %}
    <div class="author__meta">
      <a href="https://github.com/{{ github }}" title="github" target="_blank" rel="noopener">
        <div class="ico github">{% include partials/svg/use.html id: "icn--github" class: "github" %}</div>
        <span class="destination">{{ github }}</span>
      </a>
    </div>
    {% endif %}

    {% if web %}
    <div class="author__meta">
      <a rel="author" href="{{ web }}" title="{{ name }}" target="_blank" rel="noopener">
        <div class="ico link">{% include partials/svg/use.html id: "icn--link" class: "link" %}</div>
        <span class="destination">{{ web }}</span>
      </a>
    </div>
    {% endif %}


    {% if email %}
    <div class="author__meta">
      <a rel="author" href="mailto:{{ email }}" title="e-mail" target="_blank" rel="noopener">
        <div class="ico link">{% include partials/svg/use.html id: "icn--mail" class: "email" %}</div>
        <span class="destination">{{ email }}</span>
      </a>
    </div>
    {% endif %}
  </div>
</div>


{% if text_author == 'rokma' %}
<div class="home__posts">
  {% for post in site.posts %}
    {% if text_author == 'rokma' %}
      {% include index_post_block--excerpt.html %}
    {% endif %}
  {% endfor %}
</div>
{% endif %}


{% if text_author == 'james' %}
<div class="home__posts">
  {% for post in site.posts %}
    {% if text_author == 'james' %}
      {% include index_post_block--excerpt.html %}
    {% endif %}
  {% endfor %}
</div>
{% endif %}


{% if text_author == 'andrea' %}
<div class="home__posts">
  {% for post in site.posts %}
    {% if text_author == 'andrea' %}
      {% include index_post_block--excerpt.html %}
    {% endif %}
  {% endfor %}
</div>
{% endif %}


{% if text_author == 'jean' %}
<div class="home__posts">
  {% for post in site.posts %}
    {% if text_author == 'jean' %}
      {% include index_post_block--excerpt.html %}
    {% endif %}
  {% endfor %}
</div>
{% endif %}
