<nav class="nav--horizontal" role="navigation" aria-label="Primary">
  <div class="wrapper">
  {% if page.previous.url %}
    <a class="nav__link nav__link--left" rel="prev" href="{{ page.previous.url | prepend: site.baseurl }}" title="previous">
      {% include partials/svg/use.html id="icn--previous" class="previous" %}
    </a>
  {% endif %}

  {% if page.next.url %}
    <a class="nav__link nav__link--right" rel="next" href="{{ page.next.url | prepend: site.baseurl }}" title="next">
      {% include partials/svg/use.html id="icn--next" class="next" %}
    </a>
  {% endif %}
  </div>
</nav>
