---
eleventyExcludeFromCollections: true
layout: base
permalink: /
---
<nav aria-label="Primary" class="content {% if category %}{{ category }}{% else %}index{% endif %} {% if offwhite %}offwhite_content{% endif %} index_njk_template">

  <div class="wrapper">

    <div class="post_cards">

      {% set articles = collections.article | reverse %}

      {% for post in articles.slice(0,15) %}

        {% include "partials/index_post_block--excerpt.njk" %}

      {% endfor %}

    </div>

  </div>

</nav>

{% include "partials/nav--posts-thumbs-home.njk" %}

{% include "partials/nav--tag-cloud.njk" %}
