---
eleventyExcludeFromCollections: true
permalink: /tag-cloud/
layout: default
tags:
  - template {# so it can be filtered out of deployment #}
---

<div>
{% for tagKey, tagVal in collections.tagListPosts %}
{% set tagUrl %}/{{ tagKey }}{% endset %}

    <a href="{{ tagUrl | url }}" style="display: inline; font-size: {{ tagVal.length * 50}}%">{{ tagKey }}</a>

    {# <span class="tag-counter">{{ tagVal.length }}</span> #}

{% endfor %}
</div>
