---
eleventyExcludeFromCollections: true
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - author
    - article
    - photographer
    - template
  addAllPagesToCollections: true
layout: default
renderData:
  title: Tagged “{{ tag }}”
permalink: /{{ tag }}/
---
<div class="tagpage tagpage__title">

  <span class="tagpage__ico">{% set id = "icn--tag" %}{% include "partials/svg/use.html" %}</span>

  <h1 class="page__title">{{ tag | capitalize }}</h1>

</div>

<div class="tagpage post_cards">
  {% set postslist = collections[ tag ] %}

  {% for post in postslist | reverse %}

    {% include "partials/index_post_block--excerpt.njk" %}

  {% endfor %}

  {% include "partials/nav--tag-cloud.njk" %}
</div>
