---
templateEngineOverride: njk
eleventyExcludeFromCollections: true
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
   - tagList
  addAllPagesToCollections: true
layout: default
renderData:
  title: Tagged “{{ tag }}”
permalink: /{{ tag }}/
---

<div class="tagpage tagpage__title">

  {# <span class="tagpage__ico">{% "include partials/svg/use", id: "icn--tag" %}</span> #}

  <h1 class="page__title">{{ tag }}</h1>

</div>

<div class="tagpage home__posts">

  {% set postslist = collections[ tag ] %}

  {% for post in postslist | reverse %}

    {% include "partials/index_post_block--excerpt.njk" %}

  {% endfor %}

</div>
