<div class="col widget-title">List of Tags</div>

<div class="row">
{% for tagKey, tagVal in collections.tagListPosts %}
{% set tagUrl %}/{{ tagKey }}{% endset %}
<div>
    <a href="{{ tagUrl | url }}" class="tag">{{ tagKey }}</a>
    <div class="tag-counter">{{ tagVal.length }}</div>
</div>
{% endfor %}
</div>
