---
eleventyExcludeFromCollections: true
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - author
    - article
    - photographer
    - template
  addAllPagesToCollections: true
layout: tag_page
renderData:
  title: Tagged “{{ tag }}”
permalink: /{{ tag }}/
---

  {% set postslist = collections[ tag ] %}

  {% for post in postslist | reverse %}

    {% include "partials/index_post_block--excerpt.njk" %}

  {% endfor %}

  {% include "partials/nav_tag_cloud.njk" %}
