//logo block
.logo_block {
  min-height: 56px;
  padding-top: 1rem;
  overflow: hidden;
  .main_wrapper & {
    border-bottom: 1px solid $grey_color_darkest;
  }
  .footer & {
    border-bottom: 1px solid $twhite50;
  }

}

.logo__title {
  font-size: $base_font_size * 4;
  text-transform: uppercase;
  font-weight: 100;
  line-height: $small_line_height;
  letter-spacing: -1px;
  color: $white;
  display: block;
  position: relative;
  left: 0;
  min-height: 270px;
  margin-top: 2rem;
  padding-top: 2rem;
  margin-bottom: 0;

  &:visited {
    color: darken($white, 15%);
  }

  &:hover,
  &:visited:hover {
    color: lighten($grey_color, 15%);
  }
}

.logo__subtitle {
  font-size: $base_font_size*1.2;
  line-height: $base_line_height;
  text-align: center;
  width: 100%;
  color: white;
  &.show-in-footer {
    .header & {
      display: none;
    }
  }
  &.show-in-header {
    .footer & {
      display: none;
    }
  }


  .main_wrapper & {
    color: red;
  }

}


.fumes {
  background-color: transparent;
  font-family: Helvetica;
  text-align: center;
  line-height: 10vw;
  font-size: 43vh;
  font-weight: 600;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 3rem;

  > * {
    display: inline-block;
    padding: 0;
    margin: 0 -4.4vw;
  }

  @include media("screen", "<minWidth") {
    top: 4vh;
    line-height: 10vw;
    font-size: 33vh;
  }
  @include media("screen", ">maxWidth") {
    line-height: 10vw;
    font-size: 33vh;
  }
}

.f {
  color: hsla(0, 100%, 100%, 0.15);
  &:hover {
    color: hsla(0, 100%, 100%, 0.3);
    transition-delay: 0.1s;
  }
}

.u {
  color: hsla(0, 100%, 100%, 0.2);
  transform: rotateX(180deg);
  transform-origin: 50% 47%;
  backface-visibility: visible;

  &:hover {
    color: hsla(12, 100%, 50%, .7);
    transition-delay: 0.1s;
    transform: rotateX(0deg);
    .footer & {
      color: hsla(0, 0%, 0%, .2);
    }
  }
}

.m {
  color: hsla(0, 100%, 100%, 0.3);
  &:hover {
    color: hsla(0, 100%, 100%, 0.4);
    transition-delay: 0.1s;
  }
}

.e {
  color: hsla(0, 100%, 100%, 0.1);
  transform: rotateY(180deg);
  transform-origin: 50% 50%;
  backface-visibility: visible;

  &:hover {
    color: hsla(12, 100%, 50%, .9);
    transition-delay: 0.1s;
    transform: rotateX(0deg);
    backface-visibility: visible;
    .footer & {
      color: hsla(0, 0%, 0%, .35);
    }
  }
}

.s {
  color: hsla(0, 100%, 100%, 0.2);
  &:hover {
    color: hsla(0, 100%, 100%, 0.3);
    transition-delay: 0.1s;
  }
}
