//BEM__ELEMENTS

.post__header {
  margin-bottom: $spacing_unit;
}

.post__content {
  margin-top: $spacing_unit*1.5;
  margin-bottom: $spacing_unit;

  hr {
    margin: 2rem auto;
    border: 0;
    height: 2px;
    width: 7%;
    background-color: $background_color;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0));
  }

  ul {
    margin-left: 1rem;
    list-style-type: none;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-left: 5%;
    margin-right: 5%;
    @include media("screen", ">minWidth") {
      margin-left: 10%;
      margin-right: 10%;
    }

    li & {
      margin-left: 0;
    }
    @include media("screen", ">minWidth") {
      margin-left: 20%;
      margin-right: 10%;
    }
  }

  h2 {
    margin-top: $spacing_unit*2;
  }

  blockquote {
    margin-left: 10%;
    margin-right: 5%;
    @include media("screen", ">minWidth") {
      margin-left: 20%;
      margin-right: 10%;
    }

    p {
      margin-left: 5%;
    }

    li & {
      margin-left: 0;
    }
    @include media("screen", ">minWidth") {
      margin-left: 20%;
      margin-right: 10%;

      p {
        margin-left: 5%;
      }
    }
  }

  p::first-line {
    font-size: 115%;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}

.post__license {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: $spacing_unit * 2 0.5rem;
  position: relative;

  .ico {
    margin-bottom: 1rem;
    width: 5vw;
    height: 5vw;
    min-width: 70px;
    min-height: 70px;
  }

  .license_details {
    text-align: center;
  }
  @include media("screen", ">minWidth") {
    margin-left: 16%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    .license_details {
      text-align: left;
    }

    .ico {
      margin-bottom: 0;
      margin-right: 0.5rem;
    }
  }

  h5 {
    margin-bottom: 0;
    line-height: $base_line_height;
  }

  a {
    display: block;
    font-size: $base_font_size * 0.9;
    padding-top: $spacing_unit/6;
  }
}
//BEM--MODIFIERS
//NON BEM ELEMENTS
.post-metas {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: $base_font_size * 1.2;
  color: $text_color;
  margin-left: 0;
  margin-right: 0;

  svg {
    fill: $icon_color;
  }
  @include media("screen", ">minWidth") {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  @include media("screen", ">bp1Width") {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

.post-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: $spacing_unit / 6;
  padding-bottom: $spacing_unit / 6;

  &.tags {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }

  h1,
  p {
    margin: 0;
  }
}

.ico {
  -webkit-flex-basis: $icon_size;
  -ms-flex-preferred-size: $icon_size;
  flex-basis: $icon_size;
  min-width: $icon_size;
  width: $icon_size/1.65;
  height: $icon_size/1.65;
}

.post-title {
  font-size: $base_font_size * 1.5;
  letter-spacing: -1px;
  @include media("screen", ">maxWidth") {
    font-size: $base_font_size * 2;
  }
}

.categories,
.curator,
.date,
.tags {
  line-height: 1.5;
}

.curator:first-letter,
.readmore:first-letter {
  text-transform: uppercase!important;
}

.reading_time {
  font-size: 1rem;
  color: $grey_color;
  line-height: .5;
  em {

  }
}


.post-meta a {
  border: solid 1px $grey_color_dark;
  border-radius: 5px;
  font-size: 100%;
  font-weight: unset;
  color: $offwhite;
  padding: 1px 10px 1px 10px;
  display: inline-block;
  margin: 4px 3px 4px 3px;
}

.post__license a {
  border: solid 1px $grey_color_dark;
  border-radius: 5px;
  font-size: 100%;
  font-weight: unset;
  color: $offwhite;
  padding: 1px 10px 1px 10px;
  display: inline-block;
  margin: 4px 3px 4px 3px;
  line-height: 2rem;
  &:before {
    display: none;
  }
  &:hover {
    color: $grey_color_light;
    border: solid 1px $grey_color;
  }
}
