// .button {
//   margin-top: 1rem;
//   margin-bottom: 1rem;
//   border: solid 1px $alert_blue;
//   a {
//     width: auto;
//     min-width: 0;
//   }
// }

.button {
  //a
  border: solid 3px $brand_red;
  border-radius: $border_radius;
  font-size: 140%;
  font-weight: 500;
  color: $brand_red!important;
  &:hover {
    color: white!important;
    background-color: $brand_red;
  }
  &:visited {
    color: $brand_red!important;
  }
}
