<div class="fineartprint_block_wrap fineartprints_njk_template">
  <div class="fineartprint_block">

    <div class="fineartprint_images top">
        {% for print in fineartprints.slice(0,3) %}
          <div class="fineartprint_image_block">
            <img class="fineartprint_image" src="/assets/fap/{{ print }}" alt="{{ page.title }}">
          </div>
        {% endfor %}
    </div>

    <div class="wrapper" id="fineartprints">

      <div class="fineartprint_block_center">

        <div class="fineartprint_block_title">Fine Art Prints</div>

        <div class="fineartprint_block_body">

          <div class="catchphrase">
            <p>Getting a print delivered?</p>
            <p>Just a few clicks away from here?</p>
          </div>

        </div>

        <div class="fineartprint_block_button">
          <a class="button" label="fineartprints_button_click" rel="noopener noreferrer" href="mailto:fineartprints@rokma.com">Enquiries</a>
        </div>

      </div>

    </div>

    <div class="fineartprint_images bottom">
        {% for print in fineartprints.slice(3,length) %}
          <div class="fineartprint_image_block">
            <img class="fineartprint_image" src="/assets/fap/{{ print }}" alt="{{ page.title }}">
          </div>
        {% endfor %}
    </div>

  </div>
</div>

<div class="fineartprint_block_bottom_padding">

</div>
