<div class="fineartprint_block_wrap">
  <div class="fineartprint_block">

    <div class="fineartprint_images top">
      {% if page.fineartprints %}
        {% for print in page.fineartprints limit:3 %}
          <div class="fineartprint_image_block">
            <img class="fineartprint_image" src="{{site.baseurl}}/assets/i/480/{{ print }}" alt="{{ page.title }}">
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="wrapper">

      <div class="fineartprint_block_border">

        <div class="fineartprint_block_title">Fine Art Prints</div>

        <div class="fineartprint_block_body">

          <div class="catchphrase">
            <p>Getting a print delivered?</p>
            <p>Just a few clicks away from here?</p>
          </div>

        </div>

        <div class="fineartprint_block_button">
          <a class="button" rel="noopener noreferrer" href="mailto:fineartprints@rokma.com">Enquiries</a>
        </div>

      </div>

    </div>

    <div class="fineartprint_images bottom">
      {% if page.fineartprints %}
        {% for print in page.fineartprints offset:3 %}
          <div class="fineartprint_image_block">
            <img class="fineartprint_image" src="{{site.baseurl}}/assets/i/480/{{ print }}" alt="{{ page.title }}">
          </div>
        {% endfor %}
      {% endif %}
    </div>

  </div>
</div>
