<footer class="footer group" role="contentinfo">

  {% include partials/logo_block.html %}

  <div class="wrapper">

    <div class="footer__description">

      <p class="center">Established by two photographers in 2010, Fumes is an Online Art Magazine covering mostly South East Asia and Asia Pacific. There are currently 100 Fumes articles.</p>

      {% if layout != "post" %}
      <p class="center">Copyright © 2010 - {{ site.now_year }} <a href="https://junglestar.org">Junglestar</a> </p>
      {% endif %}

    </div>

    <div class="footer__socialicons" role="menu">

      {% if site.qr %}
      <div class="footer_icon qr">
          <span>
            {% include partials/svg/use.html id: "icn--qr" class: "qr" alt: "Fumes website QR code, pass it on!"%}
          </span>
          <span class="hide_on_phones">&nbsp;</span>
      </div>
      {% endif %}

      {% if site.owner.github %}
      <div class="footer_icon github">
        <a class="menu_item" role="menuitem" href="{{site.owner.github}}" aria-label="{{site.owner.github | replace: "https://github.com/", "" }} is our Github name" title="{{site.owner.github | replace: "https://github.com/", "" }} is our Github name">
          <span>
            {% include partials/svg/use.html id: "icn--github" class: "github" alt: "this website code is open source on Github" %}
          </span>
          <span class="hide_on_phones">{{site.owner.github | replace: "https://github.com/", "" }}</span>
        </a>
      </div>
      {% endif %}


      {% if site.owner.facebook %}
      <div class="footer_icon facebook">
        <a class="menu_item" role="menuitem" href="{{site.owner.facebook}}" aria-label="{{site.owner.facebook | replace: "https://web.facebook.com/", "" }} is our Facebook page name" title="{{site.owner.facebook | replace: "https://web.facebook.com/", "" }} is our Facebook page name">
          <span>

            {% include partials/svg/use.html id: "icn--facebook" class: "facebook" alt: "fumesmagazine is our Facebook page name"%}
          </span>
          <span class="hide_on_phones">{{site.owner.facebook | replace: "https://web.facebook.com/", "" }}</span>
        </a>
      </div>
      {% endif %}

      {% if site.owner.twitter %}
      <div class="footer_icon twitter">
        <a class="menu_item" role="menuitem" href="{{site.owner.twitter}}" aria-label="{{site.owner.twitter | replace: "https://twitter.com/", "" }} is our Twitter handle" title="{{site.owner.twitter | replace: "https://twitter.com/", "" }} is our Twitter handle">
          <span>
            {% include partials/svg/use.html id: "icn--twitter" class: "twitter" alt: "fumesvoice is our twitter name"%}
          </span>
          <span class="hide_on_phones">{{site.owner.twitter | replace: "https://twitter.com/", "" }}</span>
        </a>
      </div>
      {% endif %}

      {% if site.owner.email %}
      <div class="footer_icon email">
        <a class="menu_item" role="menuitem" class="" href="mailto:{{site.owner.email}}" aria-label="this is our email, write some feedback!" title="our email">
          <span>
            {% include partials/svg/use.html id: "icn--email" class: "email" alt: " use our preferred contact method, that is email!"%}
          </span>
          <span itemprop="email">
            <span class="hide_on_phones">{{site.owner.email}}</span></span>
        </a>
      </div>
      {% endif %}

      {% if site.owner.instagram %}
      <div class="footer_icon instagram">
        <a class="menu_item" role="menuitem" href="{{site.owner.instagram}}" aria-label="{{site.owner.instagram | replace: "https://www.instagram.com/", "" }} on Instagram"  title="{{site.owner.instagram | replace: "https://www.instagram.com/", "" }} on Instagram" >
          <span>
            {% include partials/svg/use.html id: "icn--instagram" class: "instagram" alt: "Instagram" %}
          </span>
          <span class="hide_on_phones">{{site.owner.instagram | replace: "https://www.instagram.com/", "" }}</span>
        </a>
      </div>
      {% endif %}



    </div>

  </div>

</footer>
