{% include partials/ascii_art_junglestar_banner.html %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.data.title %}{{ page.data.title }} - {% endif %}{{ site.title }}</title>

  <meta name="version" content="{{ site.version }}">

  <style>
    {% include css/main.css %}
  </style>

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="preconnect" href="https://stats.g.doubleclick.net">
  {% include partials/favico.html %}

  {% include partials/open_graph.html %}
</head>
