<div class="home__post njk">

  <a class="post-link {{ post.data.category }}" href="{{ post.url | url }}">

    <h2>{{ post.data.title }}</h2>

    <div class="thumb">

      {% if post.data.thumb %}
      <img loading="lazy" src="/assets/i/t/{{ post.data.thumb }}" alt="{{ post.data.title }}">
      {% else %}
      <img loading="lazy" class="nothumb" src="/assets/i/t/fumesyousuck_thumb.svg" alt="{{ post.data.title }}">
      {% endif %}

    </div>



    {% if post.data.excerpt %}
    <div class="excerpt">
      {{ post.data.excerpt }}
    </div>
    {% endif %}

    {# {% for tag in post.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %} #}

  </a>

</div>
