<div class="post_card post_card--small njk_template">

  <a class="post-link" href="{{ post.url | url }}">

    <h2>{{ post.data.title }}</h2>

    <div class="thumb">

      {% if post.data.thumb %}


      <img loading="lazy" src="/assets/i/t/{{ post.data.thumb }}" alt="{{ post.data.title }}">

      {% comment %}
      <figure class="">
        {% comment %} assign the page image and split at the extension dot{% endcomment %}{% set image = "joe" %}{% f = image | split: '.' %}{% assign f = image | split: '.' %}<img loading="lazy" src="{{ f[0] | relative_url }}{{ name }}-640.{{ f[1] }}"
             srcset="{{ f[0] | relative_url }}{{ name }}-640.{{ f[1] }} 640w,
                     {{ f[0] | relative_url }}{{ name }}-880.{{ f[1] }} 880w,
                     {{ f[0] | relative_url }}{{ name }}-1024.{{ f[1] }} 1024w,
                     {{ f[0] | relative_url }}{{ name }}-1920.{{ f[1] }} 1920w"
             sizes="100vw" alt="{{ site.title }} - {{ title }} {% if photographer %}- photo by {{ photographer | upcase }}{% endif %}" />{% if caption %}<figcaption><strong>{{ caption }}</strong></figcaption>{% endif %}

       </figure>

      {% endcomment %}


      {% else %}
      <img loading="lazy" class="nothumb" src="/assets/i/tt/fumesyousuck_thumb.svg" alt="{{ post.data.title }}">
      {% endif %}

    </div>

  </a>

</div>
