<div class="home__post {{ post.data.category }}{% if post.url == url %} home__post--active{% endif %} ">

  <a class="post-link " href="{{ post.url | url }}">

    <h2>{{ post.data.title }}</h2>


    {% for tag in post.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}

  </a>

</div>
