<div class="home__post">

  <a class="post-link {{ post.data.category }}" href="{{ post.url | url }}">

    <h2>{{ post.data.title }}</h2>

    {% if post.data.excerpt %}
    <div class="excerpt">
      {{ post.data.excerpt }}
    </div>
    {% endif %}

    {# {% for tag in post.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %} #}

  </a>

</div>
