
  {% if license != null and photographer != null %}

    <div class="ico {{page.licence}}">{% include partials/svg/use.html id: "icn--info" class: "info" %}</div>

    <div class="license_details">

      <h5>All images copyright &#169; {{ page.date | date: "%Y" }} - {{ "now" | date: '%Y' }}&nbsp;{%- capture name -%}{{ photographer }}{%- endcapture -%}
      {%- assign words = name | split: " " -%}
      {%- capture namefixed -%}
        {%- for word in words %}{{ word | capitalize }} {% endfor -%}
      {%- endcapture -%}
      {{ namefixed }}. {% if text_author %}
        <br>
        Text copyright &#169; {{ page.date | date: "%Y" }} - {{ "now" | date: '%Y' }}&nbsp;{%- capture name -%}{{ text_author }}{%- endcapture -%}
        {%- assign words = name | split: " " -%}
        {%- capture namefixed -%}
          {%- for word in words %}{{ word | capitalize }} {% endfor -%}
        {%- endcapture -%}
        {{ namefixed }}.{% endif %}
        <br>
        <a href="http://creativecommons.org/licenses/" target="_blank" class="license_info" title="More infos about copyright and licenses">Infos on copyright, licenses, Creative Commons</a>
        <br>
        Released under {{ license }} license.
      </h5>

    </div>

  {% elsif license != null and images_author != null %}

    <div class="ico {{page.licence}}">{% include partials/svg/use.html id: "icn--info" class: "info" %}</div>

    <div class="license_details">

      <h5>All illustrations copyright &#169; {{ page.date | date: "%Y" }} - {{ "now" | date: '%Y' }}&nbsp;{%- capture name -%}{{ images_author }}{%- endcapture -%}
      {%- assign words = name | split: " " -%}
      {%- capture namefixed -%}
        {%- for word in words %}{{ word | capitalize }} {% endfor -%}
      {%- endcapture -%}
      {{ namefixed }}.
        <a href="http://creativecommons.org/licenses/" target="_blank" class="license_info" title="More infos about copyright and licenses">More infos on copyright, licenses, Creative Commons</a>
        <br>
        Released under {{ license }} license.
      </h5>

    </div>


  {% elsif license == null and photographer != null %}

    <div class="ico {{page.licence}}">{% include partials/svg/use.html id: "icn--info" class: "info" %}</div>

    <div class="license_details">

      <h5>All images copyright &#169; {{ page.date | date: "%Y" }} - {{ "now" | date: '%Y' }}&nbsp;{%- capture name -%}{{ photographer }}{%- endcapture -%}
      {%- assign words = name | split: " " -%}
      {%- capture namefixed -%}
        {%- for word in words %}{{ word | capitalize }} {% endfor -%}
      {%- endcapture -%}
      {{ namefixed }}.
        <br>
        <a href="http://creativecommons.org/licenses/" target="_blank" class="license_info" title="More infos about copyright and licenses">More infos on copyright, licenses, Creative Commons</a>
        <br>
        All rights reserved.
      </h5>

    </div>

  {% elsif license == null and images_author != null %}

    <div class="ico {{page.licence}}">{% include partials/svg/use.html id: "icn--info" class: "info" %}</div>

    <div class="license_details">
      <h5>All illustrations copyright &#169; {{ page.date | date: "%Y" }} - {{ "now" | date: '%Y' }}&nbsp;{%- capture name -%}{{ images_author }}{%- endcapture -%}
      {%- assign words = name | split: " " -%}
      {%- capture namefixed -%}
        {%- for word in words %}{{ word | capitalize }} {% endfor -%}
      {%- endcapture -%}
      {{ namefixed }}.
        <br>
        <a href="http://creativecommons.org/licenses/" target="_blank" class="license_info" title="More infos about copyright and licenses">More infos on copyright, licenses, Creative Commons</a>
        <br>
        All rights reserved.
      </h5>


    </div>

  {% elsif license == null and photographer == null and images_author == null %}

    <div class="ico {{page.licence}}">{% include partials/svg/use.html id: "icn--info" class: "info" %}</div>

    <div class="license_details">
      <h5>This Fumes article is released under {{ site.license }} license.
        <br>
        <a href="http://creativecommons.org/licenses/" target="_blank" class="license_info" title="More infos about copyright and licenses">More infos on copyright, licenses, Creative Commons</a>
        <br>
        Reviewed intellectual property might have a different copyright policy.
      </h5>


    </div>

  {% endif %}
