<div class="logo_block">

  <div class="wrapper">

    <a class="logo__title"
      href="/">

      <div class="fumes">

        <div class="f">F</div>

        <div class="u">U  </div>

        <div class="m">M</div>

        <div class="e">E</div>

        <div class="s">S</div>

      </div>

    </a>

    <h1 class="logo__subtitle show-in-header">

      <span class="hide">fumes</span>

      {{ site.subtitle }}

    </h1>

    <h1 class="logo__subtitle show-in-footer">

      <span class="hide">fumes</span>

      {{ site.photography_subtitle }}

    </h1>

  </div>

</div>
