<div class="post-metas">

  <div class="post-meta title">
    <div class="ico">{% include partials/svg/use.html id: "icn--post" class: "posta" %}</div>
    <h1 class="post-title">{{ title }}</h1>
  </div>


  {% if photographer %}
  <div class="post-meta photographer">

    <div class="ico">{% include partials/svg/use.html, id: "icn--photographer" class: "photographer" %}</div>

    <p class="photog">
      <span class="hide">Photography: </span>

      <a title="Photography by: {{ photographer }}" href="/photographer/{{ photographer }}/">{{ photographer | titlecase }}</a>
    </p>

  </div>
  {% endif %}


  {% if images_author %}
  <div class="post-meta author">

    <div class="ico">{% include partials/svg/use.html, id: "icn--photographer" class: "photographer" %}</div>

    <p class="photog">
      <span class="hide">Images author: </span>
      {% assign images_author = site.data.authors[images_author] %}

      <a title="Images author: {{ images_author.name }}" href="/author/{{ images_author.name | titlecase | replace: ' ', '-' }}/">{{ images_author.name }}</a>
    </p>

  </div>
  {% endif %}



  {% if text_author %}
  <div class="post-meta author">

    <div class="ico">{% include partials/svg/use.html, id: "icn--speech" class: "text author" %}</div>

    <p class="photog">
      <span class="hide">Text Author: </span>

      <a title="text author:{{ text_author.name }}" href="/author/{{ text_author | downcase | replace: ' ', '-' }}/">{{ text_author }}</a>
    </p>

  </div>
  {% endif %}


  <div class="post-meta date">
    <div class="ico">
      {% include partials/svg/use.html, id: "icn--date" class: "date" %}
    </div>
    <p class="date">
      <meta itemprop="datePublished" content="{{ page.date| date: "%F"}}">
      <span class="hide">Published: </span>{{ page.date | date: "%B %d, %Y" }}</p>
  </div>

  {% if category %}
  <div class="post-meta categories">
    <div class="ico">{% include partials/svg/use.html, id: "icn--categories" class: "categories" %}</div>
    <p class="categories"><span class="hide">Filed under: </span>
      <a title="Filed under: {{ category | titlecase }}" href="/{{ category | titlecase }}/">{{ category }}</a>
    </p>
  </div>
  {% endif %}

  {% if curator %}
  <div class="post-meta curator">
    <div class="ico">{% include partials/svg/use.html, id: "icn--curator" class: "curator" %}</div>
    <p class="curator"><span class="hide">Curated by: </span> {{ curator | titlecase }}</p>
  </div>
  {% endif %}


  <div class="post-meta tags">
    <div class="ico">
      {% include partials/svg/use.html, id: "icn--tags" class: "tag" %}
    </div>
    <p class="tags">
      <span class="hide">Keywords: </span>
      {% for tag in tags %}
        <a href="/{{tag}}/">{{tag}}</a>
      {% endfor %}
    </p>
  </div>


</div>
