<nav role="navigation" aria-label="Secondary" class="nav--posts nav--posts-thumbs-all_njk_template" >

  <div class="wrapper">

    <div class="looper looper_home" >

      <label>posts</label>

      <div class="looper__ico" title="posts">
        {% set id = "icn--posts" %}
        {% include "partials/svg/use.html" %}
      </div>

      <div class="looper__links all_posts">

        {% set articles = collections.article | reverse %}

        {% for post in articles %}

        <a class="looper__link small_card {{ post.data.category }} " href="{{ post.url | url }}">

          <div class="small category hidden">{{ post.data.category }}</div>

          <div class="small thumb">

            {% if post.data.thumb %}
            <img loading="lazy" src="/assets/i/tt/{{ post.data.thumb }}" alt="{{ post.data.title }}">
            {% else %}
            <img loading="lazy" class="nothumb" src="/assets/i/tt/fumesyousuck_thumb.svg" alt="{{ post.data.title }}">
            {% endif %}

          </div>

          <div class="small title">
            <h3>{{ post.data.title | truncate(40)  }}</h3>
            <div class="reading_time">
              <em>Read in {{ post | readingTime }}</em>
            </div>
          </div>

        </a>

        {%- endfor -%}

      </div>

    </div>

  </div>

</nav>
