
{%comment%}
tentative abandoned
not yet implemented pagination and prev next navigation...
{% if layout == 'post' %}
  {% include partials/nav--horizzo-titled.html %}
{% endif %}
{%endcomment%}


<nav class="nav--horizontal" role="navigation" aria-label="Primary">
  <div class="wrapper group">
  {% if pagination.href.previous %}
    <a class="nav__link nav__link--left group" rel="prev" href="{{ ppagination.href.previous }}" title="previous">
      {% include "partials/svg/use.html" id: "icn--previous" class: "previous" %}
    </a>
    <span class="nav__posttitle nav__posttitle--left">{{page.title.previous}}</span>
  {% endif %}

  {% if pagination.href.next %}
    <a class="nav__link nav__link--right group" rel="next" href="{{ pagination.href.next }}" title="next">
      {% include "partials/svg/use.html" id: "icn--next" class: "next" %}
    </a>
    <span class="nav__posttitle nav__posttitle--right">{{page.title.next}}</span>
  {% endif %}
  </div>
</nav>
