<nav role="navigation" class="nav--tags  tagcloud_block nav--tag-cloud_njk_template">

  <div class="wrapper">

    <div class="looper">

      <label>tags</label>

      <div class="looper__ico" title="tags">
        {% set id = "icn--tags" %}
        {% include "partials/svg/use.html" %}
      </div>

      {% for tagKey, tagVal in collections.tagListPosts %}
      {% set tagUrl %}/{{ tagKey }}/{% endset %}

          <a class="looper__link {{ tagKey }} size-{{ tagVal.length }}" href="{{ tagUrl | url }}" style="font-size: calc({{ tagVal.length * 5 }}% + .75rem) ">{{ tagKey }}</a>

      {% endfor %}

    </div>

  </div>

</nav>
