
<!-- Open Graph -->
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	{% if page.photographer %}
	{% assign photographer = site.data.photographers[page.photographer] %}
	<meta property="og:title" itemprop="name" content="{% if page.title %}{{ page.title }} by {{photographer.name}}{% else %}{{ site.title }}{% endif %}">
	{% endif %}

	{% if page.thumb %}
	<meta property="og:image" content="{{ site.url }}/assets/i/t/{{ page.thumb }}">
	{% else %}
	<meta property="og:image" content="{{ site.url }}/assets/i/t/fumesyousuck_thumb.png">
	{% endif %}

	{% comment %} use link[href] to define image url for microdata{% endcomment %}
	{% if page.thumb %}
  <link itemprop="image" href="{{ site.url }}/assets/i/t/{{ page.thumb }}">
	{% else %}
	<link itemprop="image" href="{{ site.url }}/assets/i/t/fumesyousuck_thumb.png">
	{% endif %}

	{% if page.excerpt %}
	<meta property="og:description" itemprop="description" content="{%if page.excerpt%}{{page.excerpt|strip_html|strip_newlines|truncate:120}}{%else%}{{site.description}}{% endif%}">
	{% endif %}

	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
	<meta property="og:site_name" content="{{ site.title }}">



<!-- Twitter Cards -->
	{% if page.photographer %}
	{% assign photographer = site.data.photographers[page.photographer] %}
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }} by {{ photographer.name }}{% else %}{{ site.title }}{% endif %}">
	{% endif %}

	{% if page.excerpt %}
	<meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | truncatewords:30 }}">
	{% else %}
	<meta name="twitter:description" content="{{ site.description | strip_html | strip_newlines | truncatewords:15 }}">
	{% endif %}

	{% if site.owner.twitter %}
	<meta name="twitter:site" content="@{{ site.owner.twitter }}">
	{% endif %}

	{% if page.photographer %}
	{% assign photographer = site.data.photographers[page.photographer] %}
		{% if photographer.twitter %}
		<meta name="twitter:creator" content="@{{ photographer.twitter }}">
		{% endif %}
	{% else %}
		<meta name="twitter:creator" content="@{{ site.owner.twitter }}">
	{% endif %}

	{% if page.thumb %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image:src" content="{{ site.url }}/assets/i/t/{{ page.thumb }}">
	{% else %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image:src" content="{{ site.url }}/assets/i/t/fumesyousuck_thumb.png">
	{% endif %}

	<meta name="description" content="{%if page.excerpt%}{{page.excerpt|strip_html|strip_newlines|truncate:120}}{%else%}{{site.description}}{% endif%}">
