{% assign smallest = resized | sort: 'width' | first %}

{%comment%}
- img src needs no baseurl. it's set in _config.yml
- div data.src does need it! [ {{site.baseurl}} or hardcoded here! (ex:/fumes) ]
- DEV: it'd be cool to find out how to get the page photographer and add it to the alt attribute.
{%endcomment%}

<div class="responsive-image {{page.photographer}}">
  <img loading="lazy" class="responsive-image__placeholder" src="/{{ smallest.path }}" alt="Fumes - Art, Photography, Ideas - {{ original.basename | remove:'.jpg' | replace:'-',' ' | upcase }}">
  <div class="responsive-image__delayed" data-src="/{{site.baseurl}}assets/i/{width}/{{ original.basename }}" data-alt="Fumes - Art, Photography, Ideas - {{ original.basename | remove:'.jpg' | replace:'-',' ' | upcase }}"></div>
</div>

<script>
  new Imager('.responsive-image__delayed', {
      availableWidths: [{{ resized | map: 'width' | join: ', ' }}],
      onImagesReplaced: function() {
         $('.responsive-image__placeholder').hide();
      }
  });
</script>
